body {
	border-radius: 20px;
	padding: 0;
	margin: 0;
	overflow: hidden;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background: transparent;
	box-sizing: border-box;
  }
  
  .app-container {
	font-family: Arial, sans-serif;
	background-color: #f0f0f0;
	border-radius: 20px;
	padding: 20px;
	margin: 40px auto;
	width: 90%;
	height: 90%;
	overflow: hidden;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
  }
  
  .login-container {
	background-color: white;
	border-radius: 15px;
	padding: 30px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	width: 400px;
	margin: 100px auto;
  }
  
  h1 {
	color: #333;
	text-align: center;
	margin-bottom: 20px;
  }
  
  .form-group {
	margin-bottom: 15px;
	display: flex;
	flex-direction: column;
	align-items: flex-start; 
  }
  
  label {
	margin-bottom: 5px;
	align-self: flex-start; 
	font-weight: normal; 
  }
  
  input[type="text"],
  input[type="password"],
  button {
	width: 100%; 
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box; 
  }
  
  button {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #007bff;
	color: #fff;
	font-size: 16px;
	cursor: pointer;
	border: none; 
  }
  
  button:hover {
	background-color: #0056b3;
  }
  
  .window-controls {
	position: absolute;
	top: 20px;
	right: 25px;
	cursor: pointer;
  }
  
  .window-controls svg {
	width: 24px;
	height: 24px;
	color: #4ace16; 
  }
  
  .window-btn {
	width: 30px;
	height: 30px;
	background-color: #ddd;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-size: 18px;
	text-align: center;
	line-height: 30px;
  }
  
  .window-btn:hover {
	background-color: #bbb;
  }
  
  .window-controls svg:hover {
	stroke: red;
  }
  
  .error-message {
	color: red;
	margin-top: 10px;
	font-size: 14px;
	text-align: center;
  }
  select {
    width: 100%; /* O el tamaño específico que quieras */
    box-sizing: border-box; /* Asegura que padding y border se incluyan en el tamaño */
    height: 40px; /* Ajusta la altura del select si es necesario */
}

/* Ajustar la lista de opciones */
select option {
    width: 50%; /* El mismo ancho que el select */
    text-align: left; /* Alineación del texto */
}


.no-loading {
	display: none; 
  }
  

.loading {
	width: 20px; 
	height: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	animation: spin 2s linear infinite; 
  }
  
  
  @keyframes spin {
	0% {
	  transform: rotate(0deg); /* Al principio no tiene rotación */
	}
	100% {
	  transform: rotate(360deg); /* Al final gira 360 grados */
	}
  }
  
  .button-svg.loading #button-text {
	display: none;
}

.pause {
	display: none;
}

.note {
	font-size: 12px;
	color: #888;
	margin-top: 4px;
	font-style: italic;
}

.time-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.time-container label {
	margin-bottom: 0px;
	align-self: auto;
}

.time-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 10px; 
}
.hidden {
	display: none;
}
.edit-input {
  width: 60px;
  text-align: center;
}